@import "./vars";
@import "./mixins";

.header {
    background-image: url(/dist/img/header-background.png);
    height: 930px;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.header-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.nav__logo-container {
    @include flexSpace;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    gap: 17px;
    @include flexSpace;
    align-items: center;
    cursor: pointer;
    &:hover .logo__icon {
        background-image: url(/dist/img/logo-white.svg);
        }
    &:hover .logo__name {
            color: $main-color;
        }
}

.logo__icon {
    height: 41px;
    width: 43px;
    background-image: url(/dist/img/logo-accent.svg);
    transition: $main-transition;
}

.logo__name {
    @include LatoFont;
    @include fontParams (700, 24px, 16px, $accent-color);
    text-transform: uppercase;
    transition: $main-transition;
}

.logo__btn {
    height: 38px;
    width: 145px;
    @include flexCenter;
    @include MontserratFont;
    @include fontParams (700, 16px, 16px, $main-color);
    @include btnBackground;
    transition: $main-transition;
    &:hover {
        color: $accent-color;
        background: $main-color;
      }
}

.logo__menu-btn {
    display: none;
}

.nav__menu-container {
    width: 520px;
    @include flexSpace;
    margin: auto;
    position: absolute;
    top: 37px;
    right: 190px;
}

.nav__menu-item {
    @include MontserratFont;
    @include fontParams (700, 16px, 15px, $accent-color);
    transition: $main-transition;
    &:hover {
        color: $main-color;
      }
}

.header__title {
    margin-top: 83px;
    margin-bottom: 19px;
    @include MontserratFont;
    @include fontParams (700, 82px, 82px, $main-color);
}
.header__subtitle {
    margin-bottom: 19px;
    @include LatoFont;
    @include fontParams (400, 30px, 30px, $accent-color);
}

.header__note {
    @include MontserratFont;
    @include fontParams (400, 16px, 16px, #848E97);
}

.header__btn {
    @include flexCenter;
    margin: 0 auto;
    height: 62px;
    width: 390px;
    @include MontserratFont;
    @include fontParams (700, 21px, 22px, $main-color);
    @include btnBackground;
    transform: translateY(560px);
    transition: $main-transition;
    &:hover {
        color: $accent-color;
        background: $main-color;
        border: 2px solid $accent-color;
      }
}

  .header__info {
    @include MontserratFont;
    @include fontParams (400, 14px, 16px, #848E97);
    transform: translateY(577px);
  }

@media (max-width: 992px) {

    nav {
        height: 118px;
        background: #27262A;
    }

    .nav__menu-container {
        max-width: 520px;
        position: static;
    }

    .header__title {
        margin-top: 68px;
        @include fontParams (700, 72px, 72px, $main-color);
    }

    .header__subtitle {
        @include fontParams (400, 24px, 24px, $accent-color);
    }
    
    .header__note {
        @include fontParams (400, 14px, 14px, #848E97);
    }
}

@media (max-width: 629px) { 

    .nav__menu-container {
        width: auto;
    }

    .header__subtitle span {
        display: block;
    }

    .header__btn {
        transform: translateY(539px);
    }

    .header__info {
        transform: translateY(556px);
    }
}

@media (max-width: 480px) { 
    
    .nav__menu-container {
        flex-direction: column;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 118px;
    }

    .nav__menu-item {
        @include flexCenter;
        justify-content: start;
        position: relative;
        height: 88px;
        padding-left: 36px;
        background-color: #333333;
        border-bottom: 3px solid #3a3a3a;
        @include fontParams (400, 26px, 26px, $main-color);
        &:focus {
            color: $accent-color;
        }
        &:focus::before{
            content: "";
            display: inline-block;
            position: absolute;
            height: 53px; 
            left: 3px;
            bottom: 15px;
            border-left: 8px solid #8D81AC;
        }
    }

    .logo__menu-btn{
        display: block;
    }

    .logo__menu-icon {
        width: 30px;
        height: 30px;
    }

    .logo__name {
        display: none;
    }

    .logo__btn {
        width: 120px;
    }

    .inactive {
        display: none;
    }

    .header__title {
        margin-top: 50px;
        @include fontParams (700, 48px, 48px, $main-color);
    }

    .header__subtitle {
        margin-bottom: 14px;
        @include fontParams (400, 18px, 24px, $accent-color);

    }

    .header__btn {
        height: 45px;
        width: 290px;
        @include fontParams (700, 18px, 20px, $main-color);
    }

    .header__btn {
        transform: translateY(593px);
    }

    .header__info {
        transform: translateY(604px);
    }
}