@import "./vars";

@mixin MontserratFont {
    font-family: $main-font-family;
    font-style: normal;
}

@mixin LatoFont {
    font-family: $secondary-font-family;
    font-style: normal;
}

@mixin LatoItalicFont {
    font-family: $secondary-font-family;
    font-style: italic;
}

@mixin fontParams ($fw, $fs, $lh, $color){
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $color;
}

@mixin flexSpace {
    display: flex;
    justify-content: space-between;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnBackground {
    background: $accent-color;
    border-radius: 40px;
}