@import "./vars";
@import "./mixins";

.peopletalk {
    height: 100%;
    width: 100%;
    background-image: url(/dist/img/peopletalk-bg.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
    position: relative;
}

.peopletalk-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.peopletalk__title {
    padding-top: 108px;
    padding-bottom: 74px;
    @include MontserratFont;
    @include fontParams (700, 48px, 50px, $main-color);
}

.peopletalk__grid-container {
    padding-bottom: 110px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 108px;
    justify-items: center;
    align-items: end;
}

.peopletalk__item {
    max-width: 324px;
    @include flexSpace;
    flex-direction: column;
    align-items: center;
}

.peopletalk__item-1 {
    height: 142px;
    img {
        width: 165px;
    }
}

.peopletalk__item-2 {
    height: 144px;
    img {
        width: 148px;
    }
}

.peopletalk__item-3 {
    height: 152px;
    img {
        width: 64px;
    }
}

.peopletalk__item-4 {
    height: 123px;
    img {
        width: 225px;
    }
}

.peopletalk__item-5 {
    height: 128px;
    img {
        width: 166px;
    }
}

.peopletalk__item-6 {
    height: 125px;
    img {
        width: 108px;
    }
}

.peopletalk__item-text {
    @include LatoItalicFont;
    @include fontParams (700, 16px, 24px, $main-color);
}

.peopletalk__text {
    padding-bottom: 18px;
    max-width: 887px;
    margin: 0 auto;
    @include LatoFont;
    @include fontParams (400, 14px, 21px, #A291A5);
}

.peopletalk__bottom-line {
    height: 2px;
    background-color: #645766;
    position: absolute;
    bottom: 0px;
    left: 300px;
    right: 300px;
}

@media (max-width: 992px) {

    .peopletalk__title {
        padding: 86px 0;
        @include fontParams (700, 42px, 44px, $main-color);
    }

    .peopletalk__grid-container {
        padding-bottom: 58px;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 54px;
        column-gap: 12px;
    }
    .peopletalk__item {
        height: auto;
        justify-content: end;
        gap: 20px;
    }
    .peopletalk__bottom-line {
        left: 106px;
        right: 106px;
    }
}

@media (max-width: 480px) { 

    .peopletalk__title {
        padding: 58px 0;
        @include fontParams (700, 36px, 48px, $main-color);
    }

    .peopletalk__grid-container {
        padding-bottom: 30px;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .peopletalk__text {
        padding-bottom: 36px;
    }

    .peopletalk__bottom-line {
        bottom: 12px;
        left: 38px;
        right: 38px;
    }
}