.container {
  width: 100%;
  max-width: 1200px;
}

.advantages {
  margin-top: 70px;

  background-color: #f4f4f4;
  display: flex;
  position: relative;
  padding-top: 98px;
}

.advantages-all {
  width: 50%;
  font-family: "Montserrat";
}

.advantages-part {
  display: flex;
  margin-bottom: 34px;
  margin-right: 49px;
}
.advantages-title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
  margin-bottom: 16px;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848e97;
}
.img1 {
  margin-right: 23px;
  margin-left: 90px;
}
.img2 {
  margin-right: 44px;
  margin-left: 91px;
}
.img3 {
  margin-right: 59px;
  margin-left: 106px;
}
.img4 {
  margin-right: 53px;
  margin-left: 101px;
}
.advantages-purple {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #8d81ac;
  margin: 0;
  margin-bottom: 19px;
  text-align: center;
  font-family: "Montserrat";
  position: absolute;
  right: 245px;
  top: 50px;
}
/**планшет та телефон****/
@media only screen and (max-width: 992px) {
  .advantages {
    flex-direction: column;
    background-color: #ffffff;
  }
  .advantages-purple {
    position: static;
  }
  .advantages-all {
    width: 100%;
  }
}
/*телефон*/
@media only screen and (max-width: 480px) {
  .advantages-part {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .imagehere {
    width: 100%;
  }
  .advantages-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*планшет*/
@media only screen and (min-width: 481px) and (max-width: 992px) {
  .advantages-all {
    width: 100%;
  }
  .advantages-purple {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
}
