.sectionpricing__wrapper {
  background-color: rgb(74, 59, 78);
  background-size: cover;
  min-height: 100vh;
  padding-top: 83px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.sectionpricing__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat";
  margin-bottom: 61px;
}
.pricing__all {
  display: flex;
  gap: 15px;
  align-items: center;
  font-family: "Montserrat";
}
.pricing__part {
  background-color: rgb(103, 86, 106);
  width: 257px;
  height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricingpart__text1 {
  width: 100%;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  background-color: rgb(106, 91, 107);
  margin: 0;
  padding-top: 36px;
  padding-bottom: 36px;
}
.pricingpart__price {
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  text-align: center;
}
.pricingpart__text2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 38px;
}
.line {
  background: rgb(141, 129, 172);
  width: 60px;
  height: 5px;
  margin: 0;
}
.pricingpart__text3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 48px;
}
.button {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  width: 163px;
  height: 45px;
  background: rgb(124, 110, 125);
  border-radius: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 15px 38px;

  text-align: center;
}
.pricing__part-dark {
  background-color: rgb(64, 45, 65);
}
.dark {
  background-color: rgb(75, 52, 73);
  width: 299px;
  height: 560px;
}
.dark3 {
  margin-bottom: 83px;
}

@media only screen and (max-width: 992px) {
  .pricing__all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 480px) {
  .sectionpricing__title {
    font-size: 32px;
    line-height: 42px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 992px) {
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
}
