.revolutionary-title {
  font-weight: 700;
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  color: #635c73;
  font-family: "Montserrat";
  margin-bottom: 35px;
}
.revolutionary-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  color: #323232;
  font-family: "Lato";
  margin-bottom: 13px;
}
.github-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  justify-content: center;
  margin-bottom: 70px;
}
.github-button {
  border: 1px solid rgba(27, 31, 36, 0.15);
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 20px;
}
.github-button__highlight {
  background: #f4f4f4;
  color: #24292f;
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border-right: 1px solid rgba(27, 31, 36, 0.15);
}

.github-button__number {
  margin-left: 5px;
  padding: 3px 6px;
  color: #24292f;
}
.github-button__icon {
  margin-right: 3px;
}

@media only screen and (max-width: 480px) {
  .revolutionary-title {
    font-size: 32px;
    line-height: 28px;
  }
  .revolutionary {
    padding-left: 18px;
    padding-right: 26px;
  }
  .revolutionary-text {
    font-size: 15px;
    line-height: 20px;
  }
  .github-button {
    margin-bottom: 20px;
  }
}
